<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
 <body>
    <h1>Welcome to example.com, <%= @user.email %></h1>
    <p>
      You have successfully signed up to bitterntecommerce.com,
    </p>
    <p><center>Thanks for joining and have a great day!</center></p>
    <p><center>
    With Regards:
    www.bitterntececommerce.com
  </center></p>
  </body>
</html>