
	
<% if @categories.present? %>
	<% @categories.each do |category| %>
		<%= category.title %>
	<% end %>
<% end %>


<% if @products.present? %>
	<% @products.each do |product| %>
		<h1><%= product.title %></h1>
	<% end %>
<% end %>
<%= will_paginate @products %>


