<footer class="page-footer font-small bg-light">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Buyers Section</h5>

          <ul class="list-unstyled">
            <li>
              <a href="/home/bsuppliers">Search Product & Suppliers</a>
            </li>
            <li>
              <a href="/home/brequirements">Post Your Requirements</a>
            </li>
            <li>
              <a href="/home/bcomplaints">Complaints</a>
            </li>
            <li>
              <a href="/home/bfeedbacks">Feedbacks</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Seller Section</h5>

          <ul class="list-unstyled">
            <li>
              <a href="/home/sadvertise">Advertise Your Profile</a>
            </li>
            <li>
              <a href="/home/spost">Post Your Product</a>
            </li>
            <li>
              <a href="/home/sadvertise">Advertise Your Product</a>
            </li>
            <li>
              <a href="/home/sconnect">Connect with Us</a>
            </li>
          </ul>

        </div><br><br><br><br><br>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Customer Tool Kit</h5>

          <ul class="list-unstyled">
            <li>
              <a href="/home/cbuy">Product You Buy</a>
            </li>
            <li>
              <a href="/home/csection">Customer Section</a>
            </li>
            <li>
              <a href="/home/cfeedbacks">Products Feedback</a>
            </li>
            <li>
              <a href="/home/cdiscount">Products at Discount</a>
            </li>
          </ul>

        </div><br><br><br><br><br>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Others</h5>

          <ul class="list-unstyled">
            <li>
              <a href="/home/about">About Us</a>
            </li>
             <li>
              <a href="/home/privacy">Privacy</a>
            </li>
            <li>
              <a href="/home/contact">Contact Us</a>
            </li>
            <li>
              <a href="/home/customercare">How It Works</a>
            </li>
            <li>
              <a href="/home/job">Terms and Conditions</a>
            </li>
          </ul>

        </div>
        

      </div>
      

    </div>
    
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://bitterntec.com/"> www.bitterntec.com</a>
    </div>
    
  </footer>